:root{

--azul-escuro:#003B8E;
--azul:#0057B8;
--azul-claro:#00A3FF;

--verde:#43A047;
--verde-claro:#8BC34A;

--branco:#FFFFFF;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
135deg,
#003B8E,
#0057B8,
#00A3FF,
#43A047,
#8BC34A
);

min-height:100vh;
padding:20px;
}

.container{
max-width:1200px;
margin:auto;
}

.header{

background:white;

padding:30px;

border-radius:30px;

text-align:center;

margin-bottom:20px;

box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.header h1{

font-size:3rem;

color:#003B8E;
}

.header p{

margin-top:10px;

color:#555;
}

.painel{

display:flex;

justify-content:space-around;

flex-wrap:wrap;

gap:15px;

background:white;

padding:20px;

border-radius:20px;

margin-bottom:25px;
}

.info{

text-align:center;
}

.info span{

display:block;

color:#666;
}

.info strong{

font-size:2rem;

color:#2E7D32;
}

#game{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:18px;
}

.card{

height:170px;

position:relative;

cursor:pointer;

transform-style:preserve-3d;

transition:.6s;
}

.card.flip{
transform:rotateY(180deg);
}

.front,
.back{

position:absolute;

width:100%;
height:100%;

border-radius:20px;

backface-visibility:hidden;

display:flex;

flex-direction:column;

align-items:center;

justify-content:center;
}

.front{

background:
linear-gradient(
135deg,
#003B8E,
#00A3FF
);

color:white;

font-size:1.4rem;

font-weight:bold;
}

.back{

background:white;

border:3px solid #8BC34A;

transform:rotateY(180deg);
}

.logo-programa{

max-width:80px;

max-height:80px;

margin-bottom:10px;
}

.titulo-programa{

font-size:13px;

font-weight:700;

text-align:center;

padding:0 5px;
}

.encontrada{

box-shadow:
0 0 20px #43A047;
}

.acoes{

text-align:center;

margin-top:30px;
}

button{

padding:16px 40px;

border:none;

border-radius:50px;

font-size:18px;

font-weight:bold;

cursor:pointer;

color:white;

background:
linear-gradient(
90deg,
#2E7D32,
#8BC34A
);
}

@media(max-width:768px){

#game{
grid-template-columns:repeat(2,1fr);
}

.card{
height:150px;
}

.header h1{
font-size:2rem;
}
}
